<section>
  <h3>{{i18n 'category.suppress_new_settings_label'}}</h3>
  {{#if siteSettings.suppress_categories_from_new_enabled}}
    <section class='field'>
      <div class="suppress-from-new">
        <label class="checkbox-label">
          {{input type="checkbox" checked=category.custom_fields.suppress_category_from_new}}
          {{i18n 'category.suppress_new_enabled'}}
        </label>
      </div>
    </section>
  {{/if}}

  {{#unless siteSettings.suppress_categories_from_new_enabled}}
    <section class='field'>
      {{i18n 'category.suppress_new_disabled'}}
      <a href="/admin/site_settings/category/plugins?filter=suppress_categories_from_new">
        {{i18n 'category.suppress_new_disabled_link'}}
      </a>
    </section>
  {{/unless}}
</section>
